@import "tailwindcss";

@theme {
  --color-bg-color: #f2f9f6;
  --color-secondary-text-color: #5a7a7e;
  --color-black: #001b1a;
  --color-dark-green: #34613a;
  --color-foreshadow: #f1fae6;
}

html {
  background-color: #f2f9f6;
}

* {
  font-family: "Lexend Deca", sans-serif;
}

hr {
  border: 1px solid #f2f9f6;
  opacity: 0.5;
}

.flex-wrapper {
  @apply flex flex-col gap-4 lg:gap-6;
}

.label-radio:has(.input-radio-choose-role-login:checked) {
  border: 1px solid #34613a;
  background-color: #f1fae6;
  color: #34613a;
}

.login-right {
  background: linear-gradient(210deg, #89b854 1.15%, #042f2b 100%);
}
